h1 {
    font-size: 22px;
    line-height: 22px;
}

h1 .glyphicon {
    padding-right: 10px;
    font-size: .8em;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

.job {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}